<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eventstore_sqlite" connectionString="Data Source=|DataDirectory|\eventstore.sqlite" providerName="System.Data.SQLite" />
    <add name="eventstore" connectionString="Data Source=|DataDirectory|\eventstore.mdf" providerName="System.Data.SqlServerCe" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>